<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/colaboradores.css}">
    <link rel="shotcut icon" th:href="@{/img/Logo_CashFlow.png}">
    <title>Viagens</title>
</head>

<body>
    <div th:replace="fragmento/header :: header"></div>

    <div class="container1">
        <h1 id="titulo">Lista de viagens</h1>
    </div>

    <div class="container">
        <div id="linha1">
            <a class="button adicionar" th:href="@{/travel/create}">Adicionar</a>
            <form th:action="@{/travel/find}" id="box_pesquisa">
                <input type="search" name="description" id="pesquisa" placeholder="Insira um nome para buscar">
                <button class="button busca">Buscar</button>
            </form>
        </div>
        <div id="lista-colaboradores">
            <div id="colaborador" th:each="travel : ${travels}">
                <div id="box-colaborador">
                    <p th:text="${travel.description}" style="margin-left: 5px;"></p>
                </div>
                <div id="opcoes">
                    <a class="button editar" th:href="@{/api/travels/__${travel.id}__/print}">PDF</a>
                    <a class="button editar" th:href="@{/travel/update/__${travel.id}__}">Editar</a>
                    <form th:action="@{/travel/delete/__${travel.id}__}" method="post">
                        <button class="button_vermelho deletar" type="submit">Deletar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>