<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/campos.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/editarViagem.css}">
    <link rel="shotcut icon" th:href="@{/img/Logo_CashFlow.png}">
    <title>Formulário</title>
</head>

<body>

    <div th:replace="fragmento/header :: header"></div>

    <form th:action="${mode == 'create'} ? @{/travel/create} : @{/travel/update/__${id}__}" th:object="${travel}"
        method="post">
        <h1 id="titulo" th:text="${mode == 'create'} ? 'Adicionar uma viagem' : 'Editar uma viagem'"></h1>
        <div class="container" id="box_container">
            <div>
                <div class="form-row">
                    <div class="form-group origem-content">
                        <label for="origin">Origem:</label>
                        <input type="text" id="origin" name="origin" class="input-origem" th:field="*{origin}" required>
                    </div>
                    <div class="datas-content">
                        <div class="form-group data">
                            <label for="startDate">Inicio:</label>
                            <input type="date" id="startDate" name="startDate" class="input-data-inicio"th:field="*{startDate}" requiredminlength="15">
                        </div>
                        <div class="form-group data">
                            <label for="endDate">Fim:</label>
                            <input type="date" id="endDate" name="department" class="input-data-fim" th:field="*{endDate}">
                        </div>
                    </div>
                    
                </div>
                <div class="form-group destino-content">
                    <label for="destination">Destino:</label>
                    <input type="text" id="destination" name="destination" class="input-destino"
                        th:field="*{destination}" required>
                </div>
                <div class="form-group">
                    <label for="description">Descrição:</label>
                    <input type="text" id="description" name="description" class="input-descricao"
                        th:field="*{description}" required>
                </div>
                <div class="form-group">
                    <label for="employee">Colaborador:</label>
                    <select id="employee" name="employeeId" class="input-senha" required
                        style="height: 30px; border: solid 1px var(--cinza); border-radius: 4px;">
                        <option value="" th:selected="${travel.employeeId == null}">-- Escolha colaborador --</option>
                        <option th:selected="${travel.employeeId == employee.id}" th:each="employee : ${employees}"
                            th:value="${employee.id}" th:text="${employee.name}"></option>
                    </select>
                </div>
                <div class="campos">
                    <div class="box_campos">
                        <h3>Despesas da Viagem</h3>
                        <div class="container_card">
                            <div class="card" th:each="expense : ${expenses}">
                                <h4 class="titulo_card" th:text="${expense.description}"></h4>
                                <p th:text="${expense.category}"></p>
                                <p th:text="${expense.location}"></p>
                                <p th:text="${#temporals.format(expense.dateTime, 'dd/MM/yyyy HH:mm')}"></p>
                                <div class="card_footer">
                                    <p th:text="${expense.amount}"></p>
                                    <div class="box_imagem_despesas">
                                        <img class="img_despesas"
                                            th:src="@{/api/travels/__${travelId}__/expenses/__${expense.id}__/fiscalNote}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-group ">
            <button class="button btn-salvar" type="submit">Salvar</button>
            <a class="button_vermelho" th:href="@{/travel/list}">Cancelar</a>
        </div>
    </form>

    <script th:src="@{/js/index.js}"></script>

<div id="image-modal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="modal-image">
</div>

</body>

</html>