<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/headerFragmento.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/travel-form.css}">
    <title>Formulário</title>
</head>
<body>
    <div th:replace="fragmentos/headerFragmento :: header"></div>
    <h1 class="title title-text" th:text="${mode == 'create'} ? 'Adicionar uma viagem' : 'Editar uma viagem'"></h1>
    <div class="form-container">
        <form th:action="${mode == 'create'} ? @{/travel/create} : @{/travel/update/__${id}__}" th:object="${travel}" method="post">
            
            <div class="form-group">
                <label for="origin">Origem:</label>
                <input type="text" id="origin" name="origin" th:field="*{origin}" required>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="startDate">Início:</label>
                    <input type="date" id="startDate" name="startDate" th:field="*{startDate}" required>
                </div>
                <div class="form-group">
                    <label for="endDate">Fim:</label>
                    <input type="date" id="endDate" name="endDate" th:field="*{endDate}">
                </div>
            </div>
            <div class="form-group">
                <label for="destination">Destino:</label>
                <input type="text" id="destination" name="destination" th:field="*{destination}" required>
            </div>
            <div class="form-group">
                <label for="description">Descrição:</label>
                <input type="text" id="description" name="description" th:field="*{description}" required>
            </div>
            <div class="form-group">
                <label for="employee">Colaborador:</label>
                <select id="employee" name="employeeId" th:field="*{employeeId}" required>
                    <option value="" th:selected="${travel.employeeId == null}">-- Escolha colaborador --</option>
                    <option th:each="employee : ${employees}" th:value="${employee.id}" th:text="${employee.name}" th:selected="${travel.employeeId == employee.id}"></option>
                </select>
            </div>
            <div class="expenses-section">
                <h3>Despesas da Viagem</h3>
                <div class="expenses-container">
                    <div class="expense-card" th:each="expense : ${expenses}">
                        <h4 th:text="${expense.description}"></h4>
                        <p th:text="${expense.category}"></p>
                        <p th:text="${expense.location}"></p>
                        <p th:text="${#temporals.format(expense.dateTime, 'dd/MM/yyyy HH:mm')}"></p>
                        <div class="expense-footer">
                            <p th:text="${expense.amount}"></p>
                            <div class="expense-image-container">
                                <img th:src="@{/api/travels/__${travelId}__/expenses/__${expense.id}__/fiscalNote}" alt="Fiscal Note">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-group">
                <button class="btn btn-blue" type="submit">Salvar</button>
                <a class="btn btn-red" th:href="@{/travel/list}">Cancelar</a>
            </div>
        </form>
        
        
    </div>
    <div id="modal" class="modal">
        <span class="close" id="modal-close">&times;</span>
        <img class="modal-content" id="modal-image">
    </div>
    <script th:src="@{/js/index.js}"></script>
    <script th:src="@{/js/menu.js}"></script>
</body>
</html>
