<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/colaboradores.css}">
    <link rel="stylesheet" th:href="@{/css/button.css}">
    <link rel="shotcut icon" th:href="@{/img/Logo_CashFlow.png}">
    <title>Viagens</title>
</head>
<body>
<header>
    <div><a th:href="@{/home}"><img id="logo" th:src="@{/img/Logo_CashFlow.png}" alt=""></a></div>
    <div id="buttons">
        <a class="button header" th:href="@{/home}">Inicio</a>
        <a class="button header" th:href="@{/travel/list}">Viagens</a>
        <a class="button header" th:href="@{/employee/list}">Colaboradores</a>
        <div class="menu" id="menu">
            <button class="button drop" onclick="toggleSubMenu()"><img th:src="@{/img/justify (1).svg}"></button>
            <ul id="submenu">
                <form th:action="@{/logout}" method="post">
                    <button class="button_vermelho">sair</button>
                </form>
            </ul>
        </div>
    </div>
</header>

<div class="container1">
    <h1 id="titulo">Lista de viagens</h1>
</div>

<div class="container">
    <div id="linha1">
        <a class="button adicionar" th:href="@{/travel/create}">Adicionar</a>
        <form th:action="@{/travel/find}" id="box_pesquisa">
            <input type="search" name="description" id="pesquisa" placeholder="Insira um nome para busca">
            <button class="button busca">Busca</button>
        </form>
    </div>
    <div id="lista-colaboradores">
        <div id="colaborador" th:each="travel : ${travels}">
            <div id="nome-colaborador">
                <p th:text="${travel.description}"></p>
            </div>
            <div id="opcoes">
                <a class="button editar" th:href="@{/travel/update/__${travel.id}__}">Editar</a>
                <form th:action="@{/travel/delete/__${travel.id}__}" method="post">
                    <button class="button_vermelho deletar" type="submit">Deletar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/header.js}"></script>
</body>
</html>