:root{
    --azul:#3A3C62;
    --azul-variavel:#4660ace0;
    --amarelo:#F2CB05;
    --vermelho:#BE3F3F;
    --vermelho-variavel:#be3f3fc4;
    --cinza:#D9D9D9;
    --verde: rgb(57, 157, 57);
    --branco: white;
    --branco-sujo: #f7f7f7;
}