@import url("global.css");


.container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-nome{
    width: 90%;
}
.input-email,.input-cpf,.input-setor,.input-telefone{
    width: 80%;
}
.input-senha{
    width: 40%;
}

.email-content,.cpf-content,.setor-content,.telefone-content{
    width: 100%;
}


.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.button-group{
    margin-right: 120px;
}




