body{
    display: flex;
    flex-direction: column;
    height: 99vh;
    background-color: var(--cinza);
}
/* flex-wrap: wrap; */

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}


.geral{
    padding: 5px;
}

.container_geral{
    display: flex;
    background-color: var(--branco);
    padding: 10px;
    height: 67vh;
    border-radius: 4px;
}

.container{
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 100%;
    padding: 5px;
}

.container::-webkit-scrollbar{
    width: 2px;
    height: 2px;
}
.container::-webkit-scrollbar-thumb {
    background-color: black;
}
.container::-webkit-scrollbar-track {
    background-color: var(--cinza);
}

.campos{
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 4px;
}

.box_campos{
    display: flex;
    flex-direction: column;
}

.campo{
    border: 2px solid var(--azul);
    border-radius: 4px;
    margin-top: 5px;
    height: 25px;
    padding-left: 5px;
}

.origem{
    width: 600px;

}

.txt_campo_inicio{
    margin-left: 200px;
}
.inicio{    
    width: 130px;
    margin-left: 200px;
}

.txt_campo_fim{
    margin-left: 40px;
}
.fim{
    width: 130px;
    margin-left: 40px;
}

.destino{
    width: 600px;
}

.txt_campo_orcamento{
    margin-left: 200px;
}
.orcamento{
    width: 308px;
    margin-left: 200px;
}

.descricao{
    display: flex;
    width: 1116px;
    height: 60px;
    resize: none;
}

.container_card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card{
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 250px;
    border-radius: 4px;
    background-color: var(--cinza);
    padding: 5px;
}

.card_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
}

.buttons{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-left: 84%;
}

.salvar{
    margin-left: 5px;
}

.voltar{
    margin-left: 5px;
    height: 16px;
}