@import url("global.css");

.hd-home{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
}
.container-nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 10px;
    margin-right: 10px;
}
.nav-links{
    display: flex;
    gap: 10px;
}
.menu{
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 720px) {
    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 50vh;
        background-color: rgb(128, 128, 128, 0.7);
        position: absolute;
        top: 15%;
        left: 10%;
        padding: 10px 0;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
        border-radius: 10px;
        z-index: 99;
      }
  
    .nav-links.active {
        max-height: 500px; /* Ajuste conforme o número de links */
        opacity: 1;
    }
  
    .menu {
      display: block;
    }
  }
