@import url("global.css");

.box{ 
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden; 
}
  h1 {
    font-size: 10vw;
    font-size: 3vw;
    line-height: 1;
    position: relative;
  }

  h1 .cash {
    display: block;
    position: absolute;
    top: -7vw;
    right: -2vw;
    font-size: 10vw;
    color: var(--yellow);
    z-index: 1;
  }

  h1 .flow {
    color: var(--blue);
    font-size: 12vw;
  }

  .description {
    font-size: 1.8vw;
    font-weight: lighter;
    margin: 20px 0;
    color: var(--gray-variable);
  }
  .cards {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  .card {
    background: var(--white);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 25%;
  }
  .card h3 {
    margin-top: 0;
    color: var(--blue);
    font-size: 1.2vw;
  }
  .card p {
    color: var(--gray-variable);
    font-size: 0.8vw;
    font-weight: normal;

  }
  span {
    font-family: var(--font);
    font-weight: bold;
    font-size: 10vw;
    display: inline-block;
    margin: 0;
    color: var(--blue);
  }

  .cash {
    transform: translateX(-100%);
    animation: slideFromLeft 2s forwards;
  }

  .flow {
    transform: translateX(100%);
    animation: slideFromRight 2s forwards;
  }
  .btn:hover {
    opacity: 0.8;
  }

  @keyframes slideFromLeft {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes slideFromRight {
    from {
      transform: translateX(-60%);
    }
    to {
      transform: translateX(0);
    }
  }


@media (max-width: 960px) {
    .cards {
      flex-direction: column;
      margin-bottom: 10px;
      align-items: center;
    }
    .card {
        margin-bottom: 10px;
        width: 80%;
      }
    h1 .cash {
      top: -17vw;
      font-size: 23vw;
    }
  
    h1 .flow {
      font-size: 25vw;
    }

    .description {
      font-size: 3.7vw;
    }
    .card h3 {
      font-size: 3.5vw;
    }
    .card p {
        font-size: 2vw;
  
    }
}