@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0%;
    padding: 0%;
}

body{
    display: flex;
}

#superior{
    position: absolute;
    top: 0%;
    right: 0%;
    width: 250px;
}

#inferior{
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 300px;
}

#imgLogo{
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
}

#textLogo{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
}

#campos{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.campo{
    width: 250px;
    height: 25px;
    border: 2px solid var(--azul);
    border-radius: 4px;
    padding-left: 6px;
}
