@import url("global.css");


body {
  height: 100vh;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-form {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
  width: 30%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img {
  width: 120px; 
  margin-bottom: 20px;
}

h1 .cash {
  color: var(--yellow);
}

h1 .flow {
  color: var(--blue); 
}
span {
  font-family: var(--font);
  font-size: 3rem;
}

form {
  margin-top: 20px;
}

.error-card {
  background-color: var(--red);
  color: var(--white) ;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.error-message {
  margin: 0;
  font-weight: bold;
}
.area-form{
  width: 80%;
}
.input {
  width: 80%; 
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--gray-variable); 
  border-radius: 4px;
}

.caixaCheckBox {
  margin-right: 5px;
}

label {
  font-size: 0.8rem;
  color: var(--gray-variable); 
}

.btn:hover {
  background-color: var(--blue-variable);
}


@media (max-width: 720px) {
  .container-form {
    padding: 20px;
  }
  .container-form {
    width: 80%;
  }
  .area-form{
    width: 100%;
  }
  .input {
    width: 100%; 

  }
}
