<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" th:href="@{/css/headerFragmento.css}" />
  <link rel="stylesheet" th:href="@{/global.css}">
  <link rel="stylesheet" th:href="@{/css/home.css}" />
  <title>Cash Flow</title>

</head>
<body>

<div th:replace="fragmentos/headerFragmento :: header"></div>

<div class="box">
  <h1><span class="cash">Cash</span> <span class="flow">Flow</span></h1>
  <p class="description">Monitore e organize seus gastos corporativos</p>
  <div class="cards">
    <div class="card">
      <h3>Gestão de Despesas</h3>
      <p>Controle todas as suas despesas em um só lugar com facilidade.</p>
    </div>
    <div class="card">
      <h3>Relatórios </h3>
      <p>Gere relatórios em PDF para uma análise completa das suas viagens e compartilhe</p>
    </div>
    <div class="card">
      <h3>Segurança</h3>
      <p>Seus dados protegidos com a mais alta segurança.</p>
    </div>
  </div>
</div>

<script th:src="@{/js/menu.js}"></script>
</body>
</html>
