<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="shortcut icon" th:href="@{/img/Logo_CashFlow.png}">
    <title>Cash Flow</title>
</head>

<body>
    <div class="container-form">
        <img class="img" th:src="@{/img/Logo_CashFlow.png}" alt="image cash flow logo">
        <h1><span class="cash">Cash</span> <span class="flow">Flow</span></h1>
        <form class="area-form" th:action="@{/login}" method="post">
            <div th:if="${param.error}" class="error-card">
                <p class="error-message">Usuário/Senha inválidos</p>
            </div>
            <input class="input" type="email" id="email" name="email" placeholder="Email" required><br><br>
            <input class="input" type="password" id="senha" name="password" placeholder="Senha" required><br><br>
            <input class="caixaCheckBox" type="checkbox" id="manterConectado" name="remember-me" >
            <label for="manterConectado">Manter conectado</label><br><br>
            <button class="btn btn-blue">Entrar</button>
        </form>
    </div>
</body>
</html>