<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="shortcut icon" th:href="@{/img/Logo_CashFlow.png}">
    <link rel="stylesheet" th:href="@{/css/colors.css}">
    <link rel="stylesheet" th:href="@{/css/button.css}">
    <title>Cash Flow</title>
</head>

<body>

<img id="inferior" th:src="@{/img/bolas.png}" alt="">
<img id="superior" th:src="@{/img/bolas 2.png}" alt="">
<img id="imgLogo" th:src="@{/img/Logo_CashFlow.png}" alt="">
<img id="textLogo" th:src="@{/img/Cash Flow.png}" alt="">
<form th:action="@{/login}" id="campos" method="post">
    <div th:if="${param.error}" class="error-card">
        <p class="error-message">Usuário e senha inválidos</p>
    </div>
    <input class="campo" type="email" id="email" name="email" placeholder="Email" required><br><br>
    <input class="campo" type="password" id="senha" name="password" placeholder="Senha" required><br><br>

    <input class="caixaCheckBox" type="checkbox" id="manterConectado" name="manterConectado" >
    <label for="manterConectado" class="checkBox">Manter conectado</label><br><br>

    <button class="button entrar">Entrar</button>

</form>

</body>
</html>
